@import url(https://fonts.googleapis.com/css?family=Lato|Neucha);
html, body {
  height: 100%;
  background-color: #27ae60; }

body {
  min-height: 100%; }

#solitaire-game-loading {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  color: white;
  font-family: Lato, sans-serif;
  font-size: 1.5em; }
  #solitaire-game-loading p {
    margin-bottom: 10px; }
  #solitaire-game-loading img {
    include: border-radius(3px); }

#solitaire {
  max-width: 900px;
  margin: 0 auto; }
  #solitaire:after {
    content: "";
    display: table;
    clear: both; }
  #solitaire #controls-title {
    position: relative;
    margin: 60px 0 25px 0;
    color: white;
    font-family: Lato, sans-serif; }
    #solitaire #controls-title button {
      color: #333232;
      background-color: #ecf0f1;
      font-size: 1.2em;
      padding: .5em 1em;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border: 0px solid #000000;
      border-bottom: 1px solid #647f69;
      outline: none; }
      #solitaire #controls-title button:hover {
        background-color: #f9f9f9; }
      #solitaire #controls-title button:active {
        background-color: #f2eded;
        border-bottom: 0px;
        margin-top: 1px; }
    #solitaire #controls-title #solitaire-title {
      position: absolute;
      bottom: 0;
      right: 0; }
  #solitaire #stock,
  #solitaire #waste,
  #solitaire #hearts,
  #solitaire #spades,
  #solitaire #diamonds,
  #solitaire #clubs,
  #solitaire #tableau-1,
  #solitaire #tableau-2,
  #solitaire #tableau-3,
  #solitaire #tableau-4,
  #solitaire #tableau-5,
  #solitaire #tableau-6,
  #solitaire #tableau-7 {
    position: relative;
    float: left;
    width: 13%;
    margin-right: 1.5%; }
    #solitaire #stock img,
    #solitaire #waste img,
    #solitaire #hearts img,
    #solitaire #spades img,
    #solitaire #diamonds img,
    #solitaire #clubs img,
    #solitaire #tableau-1 img,
    #solitaire #tableau-2 img,
    #solitaire #tableau-3 img,
    #solitaire #tableau-4 img,
    #solitaire #tableau-5 img,
    #solitaire #tableau-6 img,
    #solitaire #tableau-7 img {
      width: 100%;
      height: auto; }
  #solitaire #stock:hover {
    background-image: url(../img/placeholder-stock.svg);
    background-size: 100%;
    background-repeat: no-repeat; }
  #solitaire #waste {
    margin-right: 16%; }
  #solitaire #clubs,
  #solitaire #tableau-7 {
    margin-right: 0; }
  #solitaire #tableau {
    clear: both;
    padding-top: 35px;
    include: clearfix(); }
  #solitaire #stock div > div,
  #solitaire #waste div > div,
  #solitaire #hearts div > div,
  #solitaire #spades div > div,
  #solitaire #diamonds div > div,
  #solitaire #clubs div > div {
    position: absolute;
    top: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    #solitaire #stock div > div img,
    #solitaire #waste div > div img,
    #solitaire #hearts div > div img,
    #solitaire #spades div > div img,
    #solitaire #diamonds div > div img,
    #solitaire #clubs div > div img {
      position: relative; }
  #solitaire #tableau-1 div > div,
  #solitaire #tableau-2 div > div,
  #solitaire #tableau-3 div > div,
  #solitaire #tableau-4 div > div,
  #solitaire #tableau-5 div > div,
  #solitaire #tableau-6 div > div,
  #solitaire #tableau-7 div > div {
    position: absolute;
    top: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    #solitaire #tableau-1 div > div img,
    #solitaire #tableau-2 div > div img,
    #solitaire #tableau-3 div > div img,
    #solitaire #tableau-4 div > div img,
    #solitaire #tableau-5 div > div img,
    #solitaire #tableau-6 div > div img,
    #solitaire #tableau-7 div > div img {
      position: relative; }
  #solitaire .card-being-dragged {
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
    include: border-radius(7px);
    border: 0px solid #000000; }
  #solitaire .solitaire-win-message {
    position: relative;
    width: 100%;
    height: 100%; }
    #solitaire .solitaire-win-message span {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -43%);
      color: white;
      font-family: 'Neucha', sans-serif; }

/*# sourceMappingURL=solitaire.css.map */
