@import url(https://fonts.googleapis.com/css?family=Lato|Neucha);

$max-game-width: 1400px;
$card-width: 13%;
$card-spacing: 1.5%;
$tableau-spacing: 35px;

@mixin clearfix() {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin no-select() {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

html, body {
  height: 100%;
  background-color: #27ae60;
}

body {
  min-height: 100%;
}

#solitaire-game-loading {
	width: 100%;
	text-align: center;
	margin-top: 50px;
	color: white;
	font-family: Lato, sans-serif;
	font-size: 1.5em;
	p {
		margin-bottom: 10px;
	}
	img {
		include: border-radius(3px);
	}
}

#solitaire {
	max-width: $max-game-width;
	margin: 0 auto;
	@include clearfix();

	#controls-title {
		position: relative;
		margin: 60px 0 25px 0;
		color: white;
		font-family: Lato, sans-serif;

		button {
			color: #333232;
			background-color: #ecf0f1;
			font-size: 1.2em;
			padding: .5em 1em;
			@include border-radius(4px);
			border: 0px solid #000000;
			border-bottom: 1px solid #647f69;
			outline: none;

			&:hover {
				background-color: #f9f9f9;
			}
			&:active {
				background-color: #f2eded;
				border-bottom: 0px;
				margin-top: 1px;
			}
		}

		#solitaire-title {
			position: absolute;
	    bottom: 0;
	    right: 0;
		}
	}

	#stock,
	#waste,
	#hearts,
	#spades,
	#diamonds,
	#clubs,
	#tableau-1,
	#tableau-2,
	#tableau-3,
	#tableau-4,
	#tableau-5,
	#tableau-6,
	#tableau-7 {
		position: relative;
		float: left;
		width: $card-width;
		margin-right: $card-spacing;
		img {
			width: 100%;
			height: auto;
		}
	}

	#stock:hover {
		background-image: url(../img/placeholder-stock.svg);
		background-size: 100%;
		background-repeat: no-repeat;
	}

	#waste {
		margin-right: $card-width + (2 * $card-spacing);
	}

	#clubs,
	#tableau-7 {
		margin-right: 0;
	}

	#tableau {
		clear: both;
		padding-top: $tableau-spacing;
		include: clearfix();
	}

	#stock div > div,
	#waste div > div,
	#hearts div > div,
	#spades div > div,
	#diamonds div > div,
	#clubs div > div {
		position: absolute;
		top: 0;
		@include no-select();
		img {
			position: relative;
		}
	}

	#tableau-1 div > div,
	#tableau-2 div > div,
	#tableau-3 div > div,
	#tableau-4 div > div,
	#tableau-5 div > div,
	#tableau-6 div > div,
	#tableau-7 div > div {
		position: absolute;
		top: 0;
		@include no-select();
		img {
			position: relative;
		}
	}

	.card-being-dragged {
		-webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.25);
		box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.25);
		include: border-radius(7px);
		border: 0px solid #000000;
	}

	.solitaire-win-message {
		position: relative;
		width: 100%;
		height: 100%;
		span {
			display: block;
			position: absolute;
		  top: 50%;
			left: 50%;
		  transform: translate(-50%, -43%);
			color: white;
			font-family: 'Neucha', sans-serif;
		}
	}
}
